body {
    width: 600px;
    margin: 0 auto;
    padding-top: 50px;
    font-family: Helvetica, Arial;    
}

img {
    border: 0px !important;
    outline: 0px !important;
    vertical-align: middle;
}

.header {
    font-size: 36px;
    font-family: Arial;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
}

.header img {
    margin-right: 10px;
}

.options {
}

.options h3 {
    font-size: 26px;
    font-weight: bold;
    color: rgba(0,0,0,0.8);
    margin-top: 30px;
}

.options .shortcuts select {
    position: absolute;
    z-index: 9999;
}

.options .shortcuts li {
    margin-top: 20px;
    font-size: 16px;
}

.options .shortcuts li label {
    display: inline-block;
    width: 200px;
}

.options input[type=text] {
    width: 20px;
    padding: 3px;
}

.firefox .shortcuts .selected {
    display: none;
}
