* {
    outline: 0 !important;
}

input {
    border: 1px solid #ccc;
}

a, a:visited {
    text-decoration: none;
    color:#555;
}

a:hover {
    text-decoration: underline;
    color: #2200C1;
}

body {
    width: 400px;
    margin: 0;
    padding-top: 10px;
    font-family: arial;
    font-size: 14px;

    overflow: hidden;
}

#signin {
    position: absolute; 
    width: 350px; 
    height: 100%; 
    background: white; 
    z-index: 9999999; 
    padding-left: 50px;
    padding-top: 10px;
}

#signin a:hover {
    text-decoration: none;
    color: #333;
}

#signin .signin {
    position: absolute;
    top: 10px;
    right: 52px;
    font-size: 14px;
}

#signin .signin a {
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
}

#header {
    height: 50px;
    padding-left: 10px;
    position: relative;
    z-index: 999999;
}

#header .more {
    border-left: 1px solid #ccc;
    width: 30px;
    height: 37px;
    padding-top: 15px;
    
    position: absolute;
    top: 1px;
    right: 11px;    

    text-align: center;
    font-size: 20px;    

    background: white;
}

#header .more img {
    opacity: 0.8;
}

#header .more.hover {
    text-decoration: none;
    cursor: pointer;
    opacity: 1;

    z-index: 99999;
    
    height: 39px;    
}

#header .more.hover img {
    opacity: 1;
}

#header .more > div {
    position: absolute;

    top: 53px;
    right: -1px;

    width: 250px;

    background: white;
    border: 1px solid #ccc;
    border-top: 0;

    font-size: 16px;
    text-align: left;

    z-index: 9999;
    opacity: 1;    
}

#header .more > div li {
    padding: 10px;
    color: #000;
    opacity: 0.7;
}

#header .more > div li:hover {
    opacity: 1;
}

#header .more > div span {
    color: #555;
    float: right;
    font-size: 13px;
}

#header .more .edit_image_config {
    border-top: 1px solid #ccc;
    line-height: 12px;
}

#header .more .options {
    cursor: pointer;
    font-size: 14px;
}

#header .more .edit_image_config input {
    vertical-align: middle;
}

#header .more .edit_image_config label {
    cursor: pointer;
    margin-left: 5px;
    font-size: 14px;
}

#timeline {
    padding-left: 10px;
    padding-top: 15px;
}

#timeline span {
    font-size: 16px;
    margin-right: 15px;
    font-weight: bold;
    opacity: 0.8;
}

#timeline a {
    font-size: 16px;
    color: #333;
    margin-right: 10px;
    cursor: pointer;
    opacity: 0.8;
}

#timeline a.active {
    font-weight: bold;
    opacity: 1;
}


#latest_file input {
    width: 210px;
    margin-left: 5px;
}

#galleries_container {
    margin: 0;
    height: auto;
    max-height: 400px;
    min-height: 100px;
    width: 100%;
    overflow-x: hidden;
    
    margin-top: 10px;
}

#my_galleries {
    margin:0;
    padding:0;
    list-style: none;

    width: 100%;
}

#my_galleries li {
    padding: 5px;
    padding-top: 10px;
    border-radius: 2px;

    border-bottom: 1px solid #aaa;

    position: relative;

    margin-left: 10px;
    margin-right: 10px;
    
    background: #fff;
}

#my_galleries li:hover {
    background-color: #eee;
}

#my_galleries li:hover .name {
    opacity: 1;
}

#my_galleries li.loader {
    background: url(../images/loading.gif) center no-repeat;
    border: none;
    height: 30px;
}

#my_galleries li .preview {
    padding-right: 10px;
}

#my_galleries li .action {
    position: relative;
}

#my_galleries li .action img {
    opacity: 0.5;
}

#my_galleries li .action a {
    opacity: 0.7;
    cursor: pointer;
}

#my_galleries li .action a:hover {
    opacity: 1;
}

#my_galleries li .creator {
    font-size: 12px;
    color: #999;
    cursor: default;
}

#my_galleries li .creator a {
    color: #333;
    cursor: pointer;
}

#my_galleries .name {
    max-width: 245px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
    font-size: 16px;
    opacity: 0.8;
}

#my_galleries .name:hover {
    opacity: 1;
}

#my_galleries .share_link {
    background: #eee;    
    width: 185px;
}

#my_galleries .edit {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

#my_galleries .edit img {
    margin-right: 3px;
    vertical-align: middle;
    font-size: 12px;
}

#my_galleries .items {
    margin-right: 5px;
    font-size: 10px;
    font-family: Arial;
    color: #999;
    white-space: nowrap;
    cursor: default;
}

#take_screenshot {
    display: block;
    width: 350px;

    font-size: 25px;
    font-weight: bold;

    opacity: 0.8;
}

.loading #take_screenshot {
    text-indent: -99999px;
    background: url(../images/loading.gif) center no-repeat;
}

.loading .more {
    display: none;
}

h4 {
    margin: 0;
    padding: 0px 5px;
}

a.button {
    padding: 10px 14px;
    margin-right: 2px;
    border: 1px solid #ccc;
    border-radius: 2px;

    font-size: 20px;
    
    background: #fff;

    text-align: center;
}

a.button:hover {
    text-decoration: none;
    
    background: #eee;
    
    color: #333;
}

.center {
    text-align: center;
}

#footer {
    clear: both;
    height: 25px;
    position: relative;
    padding-top: 15px;
}

#footer * {
    float: left;
}

#footer img {
    vertical-align: middle;
    margin-left: 10px;
}

#footer a.minus_link {
    position: absolute;
    bottom: 9px;
    right: 60px;
    width: 80px;
    font-size: 13px;
}

#footer .options {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    opacity: 0.7;
    margin-left: 10px;
}

#user, #signout {
    font-size: 14px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;   
    float: right;
    margin-right: 10px;
    opacity: 0.8;
}

#user {
    text-align: left;
    margin-left: 80px;
}

#user:hover, #signout:hover {
    text-decoration: underline;
    opacity: 1;
}

#signout {
    position: absolute;
    right: 5px;
    bottom: 10px;
    font-size: 12px;
    font-weight: normal;
}

#loader {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(200,200,200, 0.4); 
    font-size: 16px;
    font-family: verdana, sans-serif;
}

#loader div {
    margin-top: 25%;
    background: url(../images/ajax-loader.gif) bottom center no-repeat;
    margin-left: auto;
    margin-right: auto;

    width: 200px;
    height: 20px;
    text-align: center;
}

/************* Scrollbar ***************/
.jspVerticalBar
{
	right: -3px;
}

/********** Opera css ***********/

.opera #take_screenshot {
    display: none;
}

.opera #header span {
    display: none;
}

.opera #header:after {
    content: "";
}

